{% load news_tags keyword_tags i18n future mezzanine_tags %}
{% block news_recent_posts %}
{% news_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<div class="widget">

  <h5 class="widgetheading">{% trans "Recent Posts" %}</h5>

  <ul class="recent">
    {% for recent_post in recent_posts %}
    <li>
      <img class="pull-left" alt="" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 65 65 %}">
      <h6><a href="{{ recent_post.get_absolute_url }}"
             >{{ recent_post.title }}</a>
      </h6>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
{% block news_categories %}
{% news_categories as categories %}
{% if categories %}
<div class="widget">
  <h5 class="widgetheading">{% trans "Categories" %}</h5>
  <ul class="cat">
    {% for category in categories %}
    <li><a href="{% url "news_post_list_category" category.slug %}"
           >{{ category }}</a> ({{ category.post_count }})</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block news_keywords %}
{% keywords_for news.newspost as tags %}
{% if tags %}
<div class="widget">
  <h5 class="widgetheading">{% trans "Tags" %}</h5>

  <ul class="tags">
    {% for tag in tags %}
    <li>
      <a href="{% url "news_post_list_tag" tag.slug %}"
         class="">{{ tag }} ({{ tag.item_count }})</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block news_authors %}
{% news_authors as authors %}
{% if authors %}
<div class="widget">
  <h5 class="widgetheading">{% trans "Authors" %}</h5>

  <ul class="cat">
    {% for author in authors %}
    <li><a href="{% url "news_post_list_author" author.username %}"
           >{{ author.get_full_name|default:author.username }} ({{ author.post_count }})</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block news_months %}
{% news_months as months %}
{% if months %}
<div class="widget">
  <h5 class="widgetheading">{% trans "Archive" %}</h5>
  {% for month in months %}
  {% ifchanged month.date.year %}
  {% if not forloop.first %}</ul>{% endif %}

<ul class="cat">
  {% endifchanged %}
  <li><a href="{% url "news_post_list_month" year=month.date.year month=month.date.month %}"
         >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
  {% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}



{% block news_feeds %}
<div class="widget">
  <h5 class="widgetheading">{% trans "Feeds" %}</h5>

  {% if tag %}
  <a href="{% url "news_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
  <a href="{% url "news_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
  {% if category %}
  <a href="{% url "news_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
  <a href="{% url "news_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
  {% if author %}
  <a href="{% url "news_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
  <a href="{% url "news_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
  {% if not tag and not category and not author %}
  <a href="{% url "news_post_feed" "rss" %}">{% trans "RSS" %}</a> /
  <a href="{% url "news_post_feed" "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
</div>
{% endblock %}


